The information provided below contains the results of clustering a dataset.
The dataset consists of {{ num_samples }} samples.
The samples are customer inquiries.
The clustering results are then compared with the provided labels.

The labels are:
{% for label in labels %}
    {{ label }}
{% endfor %}
.

Below is the summary result of the clustering in HTML format.

{{ clustering_summary_html }}

Here are some additional metrics comparing the clustering results with the labels:

{{ additional_metrics }}

Here are the cluster titles and their descriptions:

{{ cluster_json}}

Provided the information above, generate a comprehensive report on the clustering results.
Include comparison of the generated clusters with the provided labels.
The report should be structured as follows:
1. **Introduction**: Briefly describe the dataset and the purpose of clustering.
2. **Clustering Results**: Summarize the clustering results,
        including the number of clusters, and their characteristics.
3. **Comparison with Labels**: Analyze how the clusters relate to the provided labels,
        highlighting any significant findings or discrepancies.
4. **Conclusion**: Provide a summary of the findings
        and any recommendations for future analysis or actions.
